---
import type { Education } from "@/lib/types";
import { Book, University } from "lucide-react";

interface Props {
  education: Education;
}

const { education } = Astro.props;
---

<div class="space-y-4 p-4 not-last:border-b">
  <div class="flex items-center space-x-2 px-1 align-baseline">
    <Book className="size-6 bg-background" />

    <h3 class="text-xl font-black">
      {education.title}
    </h3>
  </div>

  <div
    class="relative space-y-4 pl-1 before:absolute before:left-3 before:h-full before:w-px before:bg-border"
  >
    <div>
      <div class="block w-full text-left">
        <h3 class="pl-7 text-base font-black underline-offset-4">
          {education.location}
        </h3>

        <span
          class="flex items-center gap-2 pl-7 font-mono text-sm text-foreground"
        >
          {education.year}
        </span>
      </div>
    </div>
  </div>
</div>
